<h2 class="contactus reporttitle">If you guys liked our work contact us!</h2>

<section id="raphael" class="profilecard topmargin">

  <%= image_tag 'Raphael.jpg', :class => "right"%>
  <div>
    <h2>
    Raphael Burkhardt
    </h2>

    <p>
    Hello Guys I did this Ruby on Rails App and the design
    </p>
    <p>
      <a href = "mailto: burkhardtraphael@gmail.com">burkhardtraphael@gmail.com
      </a>

    </p>
  </div>
</section>

<section id="Enelson" class="profilecard">
  <div>
    <h2>
    Enelson
    </h2>

    <p>
    Hi! I developed the mobile app!
    </p>
    <p>
      <a href = "mailto: enecastro@knights.ucf.edu">enecastro@knights.ucf.edu
      </a>
    </p>
  </div>
  <%= image_tag 'Enelson.jpg', :class => "left"%>
</section>

<section id="Shawn" class="profilecard">
  <%= image_tag 'Shawn.jpg', :class => "right"%>
  <div>
    <h2>
    Shawn
    </h2>

    <p>
    Hello everyone! I coded some Java, C++ and did the Backend for our project!
    </p>
    <p>
      <a href = "mailto: s_quinn@bellsouth.net">s_quinn@bellsouth.net
      </a>
    </p>
  </div>
</section>
