<h2>If you guys liked our work contact us!</h2>

<section id="raphael" class="profilecard">


  <%= image_tag 'Raphael.jpg'%>
  <div>
    <h2>
    Raphael Burkhardt
    </h2>

    <p>
    Hello Guys I did this Ruby on Rails App and the design
    </p>
    <p>
    Contact me here! burkhardtraphael@gmail.com
    </p>
  </div>
</section>

<section id="Enelson" class="profilecard">
  <div>
    <h2>
    Enelson
    </h2>

    <p>
    Hi! I developed the mobile app!
    </p>
    <p>
    Contact me here! email
    </p>
  </div>
  <%= image_tag 'Enelson.jpg'%>
</section>

<section id="Shawn" class="profilecard">
  <%= image_tag 'Shawn.jpg'%>
  <div>
    <h2>
    Shawn
    </h2>

    <p>
    Hello everyone! I coded some Java C++ and did the Backend for our project!
    </p>
    <p>
    Contact me here! email
    </p>
  </div>
</section>

