<section>
  <div>
    <div class="title">
      <h1>Welcome to <em>Stop. Drive</em></h1>
      <h2>Solving the texting and driving problem</h2>
    </div>
    <div class="whitetitlebox">
      <h1>
        Facts
      </h1>
    </div>
  </div>
</section>
<section>
  <div class="article">
      <p>
        For many, driving is a daily activity, not requiring much thought or consideration. However, the sad reality is that there are 3,287 deaths each day due to fatal car crashes. On average, 9 of these daily fatalities are related to distracted driving. The sad thing? These deaths all stem from a cause that is completely preventable.
      </p>
      <p>
        Distracted driving in a complex issue within today’s society, affecting drivers across all age groups. In an effort to bring awareness to the issue, April has been deemed Distracted Driving Awareness Month to remind the public that all of these deaths and injuries are completely preventable.
      </p>
      <p>
        Below, we delve into the scary facts and truths behind this epidemic, digging into the issues contributing factors, the large role cell phones play in this problem, and the science behind cell phone distractions.
      </p>
      <h2>
      The Numbers Behind Distracted Driving
      </h2>
      <p>
      </p>
      <ul>
        <li>Distracted driving accounts for approximately 25% of all motor vehicle crash fatalities.
        </li>
        <li>At the time of fatal crashes, teens have been the largest age group that reported being distracted while driving.
        <li>Driver distraction is reported to be responsible for more than 58% of teen crashes.
        </li>
        <li>In 2015, 391,000 injuries were caused in distracted driving related accidents.
        <li>In that same year, distracted driving was cited as a major factor in 3,477 traffic deaths.
        </li>
        <li>9 people in the U.S. are killed each day as a result of crashes involving a distracted driver, according to the Department of Motor Vehicles.
        </li>
        <li>Distracted driving has been called an American epidemic and is completely preventable.
        </li>
        <li>Since there is no way to test for distracted driving after an accident occurs, it’s widely believed that the number of crashes, injuries, and fatalities caused by distracted driving are vastly under reported.
        </li>
        <li>It takes only 3 seconds after a driver’s attention has been diverted from the road for a crash to occur.
        </li>
        <li>Car crashes are the number one killer of teens in the U.S.
        16 to 19 year-olds are three times as likely to be involved in a fatal car crash than any other age group.
        </li>
        <li>Americans are driving more miles now than ever before, resulting in more traffic accidents and fatalities.
        </li>
        <li>Distracted driving is commonly referred to as the, “new drunk driving”.
        </li>
        <li>Driving distracted is compared to drunk driving since it follows the same psychological pattern: when drivers get away with driving distracted, they then continue to practice this bad habit until a crash occurs or until they are caught and suffer consequences.
        </li>
        <li>Distracted driving is seen as a tricky problem as it’s a temporary one that is hard to proactively predict and catch.
        Over 80% of drivers admit to blatantly hazardous behavior while driving, such as changing clothes, steering with a foot, painting nails, or even shaving.
        </li>
        <li>While the number of drinking and driving fatalities has decreased in teens, the number of traffic fatalities in the age group has not, much attributed to distracted driving.
        </li>
      </ul>
  </div>
</section>
