<section>
  <div>
    <div class="title">
      <h1>Welcome to <em>Stop. Drive</em></h1>
      <h2>Solving the texting and driving problem</h2>
    </div>
    <div class="whitetitlebox">
      <h1>
        Facts
      </h1>
    </div>
  </div>


</section>
